@font-face {
  font-family: 'Amagro';
  src: url('Amagro.ttf');
}
@font-face{
  font-family: 'JosefinSans';
  src: url('JosefinSans-VariableFont_wght.ttf');
}
body{
  margin:0;
  padding: 0;
  background-color: #7995d1;
}
h1 a{   
  color: #ffffff;
  padding: 1%;
}
.div2{
background-color: white;
  height: 200px;
  font-weight: 900;
}
.div1 {
  background-color: rgb(228, 216, 45);
  font-size: x-large;
  display: flex;
  align-items: center; /* Align items vertically */
  padding: 20px; /* Add padding for better spacing */
}

.profileImage {
  width: 15%; 
  height: 15%; 
  object-fit: cover;
  object-position: center; 
  border-radius: 50%;
  padding: 10px;
}
.q1{
width: 100%;
padding: 5%;
font-family: 'Amagro', sans-serif;
font-size:xx-large;
}
.a1{
  width: 200%;
  font-family: 'JosefinSans', sans-serif;
  color:white;
}